.rule {
    display: flex;
    flex-direction: row;
}
.rule + .rule {
    margin-top: 20px;
}
.index {
    flex-grow: 0;
    padding: 20px;
    flex: auto;
}
.delete {
    flex-grow: 0;
    padding: 20px;
    flex: auto;
}
.properties {
    display: flex;
    flex-direction: row;
    flex: auto;
    flex-grow: 1;
}
.property {
    padding: 20px;
}
