h1 {
  display: inline-block;
  font-size: larger;
  margin-right: 1em;
}

h2 {
  font-size: large;
}

main {
  padding: 1em;
}

input {
  max-width: 3em;
}

.controls-toggle {
  display: block;
}

.hide {
  display: none;
}
